<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qimu.smbms.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="com.qimu.smbms.model.domain.Address">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="contact" column="contact" jdbcType="VARCHAR"/>
        <result property="addressDesc" column="addressDesc" jdbcType="VARCHAR"/>
        <result property="postCode" column="postCode" jdbcType="VARCHAR"/>
        <result property="tel" column="tel" jdbcType="VARCHAR"/>
        <result property="createdBy" column="createdBy" jdbcType="BIGINT"/>
        <result property="creationDate" column="creationDate" jdbcType="TIMESTAMP"/>
        <result property="modifyBy" column="modifyBy" jdbcType="BIGINT"/>
        <result property="modifyDate" column="modifyDate" jdbcType="TIMESTAMP"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,contact,addressDesc,
        postCode,tel,createdBy,
        creationDate,modifyBy,modifyDate,
        userId
    </sql>
</mapper>
